* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Merriweather' , sans-serif;
  background-color: #ebf2ff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
}

.navbar__brand {
  width: 100px;
}

.nav__logo {
  width: 100%;
}

.nav__item {
  background-image: linear-gradient(
    to right,
    #FF512F 0%,
      #DD2476 51%,
      #FF512F 100%
    );
    color: #fff;
    padding: 12px;
    border-radius: 6px;
    font-weight: 600;
}

.nav__item:hover {
  border: 2px solid #FF6767;
  cursor: pointer;
}

@media (min-width: 786px) {
  .navbar {
    justify-content: space-between;
    padding: 10px 30px;
  }
}

@media (min-width: 1024px) {
  .navbar__brand {
    width: 150px;
  }
  .nav__item {
    width: 150px;
  }
}
